@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img{
    width: 100%;
}
header{
    position: fixed;
    z-index: 1000;
    background: rgb(249, 248, 248);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 auto;
}
.logo{
    width:80px;
}
nav .logo{
    display: none;
}
nav ul{
    display: flex;
    padding-left: 400px;
}
nav ul li a{
    color:rgb(34, 31, 31);
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 10px 20px;
    transition: 0.2s;
    border-radius: 30px;
    align-items: center;
}
nav ul li a:hover{
    background: rgb(136, 86, 42);
    color: white;
}
nav ul li a.active{
    background: rgb(136, 86, 42);
    color: #f6f4ff;
}
.checkbtn{
    font-size: 25px;
    display: none;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    line-height: 100px;
    transition: 0.2s;
}

#check{
    display: none;
}
@media only screen and (max-width:1100px) {
    header{
        width:100%;
        padding: 0 20px;
    }    
    nav{
        position:fixed;
        left: -300px;
        top:0;
        z-index:10000;
        width:280px;
        height:100vh;
        background: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0,0.05);
    }
    nav .logo{
        display: block;
        height:70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
        background: rgb(136, 86, 42);
    }
    nav ul li a:hover{
        background: rgb(74, 74, 32);
        color: white;
    }
    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .checkbtn{
        display: block;
    }
    #check:checked  ~ nav{
        left:0;
    }
}
.banner{
    background: url(./images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}
.banner .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 700px;
    padding: 100px;

}
.banner .column h1{
    color: #090909;
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    font: bold;
    padding: 10px;

}
.banner .column h3{
    padding: 20px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
@media only screen and (max-width:1100px) {
    .banner{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner .column h3{
        font-size: 28px;
    }
}
@media only screen and (max-width:830px) {
    .banner .column h1{
        font-size: 35px;
    }
    .banner .column h3{
        font-size: 18px;
    }
}
@media only screen and (max-width:600px) {
    .banner{
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner .column h1{
        font-size: 30px;
    }
    .banner .column h3{
        font-size: 16px;

    }
}
/*about*/
.section{
    background-color: #b38f7c;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    display: flex;
}
.container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 100px;

    height: auto;
}
.content-section{
    float: left;
    padding-left: 100px;
}
.image-section{
    float: right;
    display: flex;
    padding-top: 30px;
    align-items: center;
    width:45%;
}
.image-section img{
    width: 90%;
    height:350px;
    padding: 5px;
}
.content-section .title h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
}
.content-section .content h3{ 
    margin-top: 20px;
    font-size: 26px;
}
.content-section .content p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding:12px 20px;
    text-decoration: none;
    color:#fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: #a52a2a;
    color: #fff;
}
.content-section .social{
    margin:40px 40px;
}
.content-section .social i{
    color:#a52a2a;
    font-size: 30px;
    padding:0px 7px;
}
.content-section .social i:hover{
    color: #3d3d3d;
}
@media  screen and (max-width:760px){
    .section{
        background-color: #b38f7c;
        width: 100%;
        text-align: center;
        display: block;
    }
    .container{
        width: 80%;
        float: none;
        display: block;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width:100%;
        padding: 20px;
        display: block;
    }
    .image-section{
        padding-top:0px;
        float: none;
        width:100%;
    }
    .image-section img{
        width: 80%;
        height: auto;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 18px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a{
        padding: 9px 30px;
    }
    .content-section .social{
        text-align: center;
    }
}
.menu{
    background: #dcd4d2;
}
.menu .heading h1{
    justify-content: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
}
.menu .box-container{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}
.menu .box-container .box{
    text-align: center;
}
.menu .box-container .box img{
    width: 100%;
    height: 50vh;
    margin-bottom: 2rem;
    border-radius: 50px;
}
.menu .box-container .box h3{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color: #854949;
}
@media screen and (max-width:1000px) {
    .menu{
        background: #f6f4ff;
    }
    .menu .box-container{
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
        align-items: flex-start;
        justify-content: center;
    }
    .menu .box-container .box{
        text-align: center;
    }
    .menu .box-container .box img{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        border-radius: 50px;
    }
    .menu .box-container .box h3{
        font-size: 2rem;
        color: #060000;
    }
}
@media screen and (max-width:500px) {
    .menu{
        background: #f6f4ff;
    }
    .menu .box-container{
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1.5rem;
        align-items: flex-start;
        justify-content: center;
    }
    .menu .box-container .box{
        text-align: center;
    }
    .menu .box-container .box img{
        width: 100%;
        height: 300px;
        margin-bottom: 1rem;
        border-radius: 50px;
    }
    .menu .box-container .box h3{
        font-size: 2rem;
        color: #060000;
    }
}
@media screen and (max-width:350px) {
    .menu{
        background: #f6f4ff;
    }
}
.gallery{
    background-color: rgb(145, 96, 96);
    color: whitesmoke;
}
.gallery .sect{
    margin:0px 20px;
    padding: 20px;
}
.gallery .sect .img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: auto;
    grid-gap: 2rem;
    margin-bottom: 20px;  
}
.gallery .sect .img img{
    border-radius: 10px;
    width:100%;
    height:300px;
}
.gallery .sect .head h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
 @media (max-width:770px){
    .gallery .sect .img{
        grid-template-columns: repeat(1,1fr);
    }
    .gallery .sect .img img{
        height: auto;

    }
 }
.reviews{
    background: rgb(216, 207, 205);
    color: rgb(46, 26, 26);
}
.reviews .heading{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    padding-top: 20px;
    color: #2f0707;
}
.reviews .box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.2rem;
    padding-bottom: 20px;
}
.reviews .box-container .box{
    text-align: center;
    padding: 10px 20px;
    border-radius: 0.5rem;
}
.reviews .box-container .box:hover{
    background-color: #522525;
    color: #dfc5c5;
    transform: translateY(-1rem);
}
.reviews .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
@media screen and (max-width:970px){
    .reviews .box-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0.2rem;
        padding: 70px;
    }
}
@media screen and (max-width:440px){
    .reviews .box-container{
        text-align: center;
        padding: 5px;
        border-radius: 0.5rem;
    }
}

/*contact us*/
.contact{
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./images/back.jpg);
    width: 100%;
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    color: rgb(61, 42, 42);
}
.contact .content p{
    font-size: 20px;
    color: rgb(118, 106, 106);
}
.containers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.containers .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containers .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.containers .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: rgb(226, 220, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.containers .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    font-weight: 300;
}
.containers .contactInfo .box .text h3{
    font-weight: 500;
    color: rgb(18, 12, 11);
}
.contactform{
    width: 40%;
    padding: 40px;
    background: rgb(97, 37, 37);
    border-radius: 20px;
}
.contactform h2{
    font-size: 30px;
    color: rgb(228, 212, 212);
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input{
    width: 100%;
    padding: 8px 0px;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 10px;
    top:5px;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
    color: #f6f4ff;
    font-size: 15px;
    transform: translateY(-30px);
}
.contactform .inputbox input[type="submit"]{
    align-items: center;
    width:100px;
    background: #a18888;
    color: rgb(24, 1, 1);
    border: none;
    cursor: pointer;
    padding: 7px;
    font-size: 18px;
}
@media screen and (max-width:950px) {
    .contact{
        min-height: 100vh;
        padding: 50px 100px;
        display: block;
        justify-content: center;
        align-items: center;
        background: url(./images/back.jpg);
        width: 100%;
        background-size: cover;
    }
    .containers{
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .contactform{
        width:100%;
        padding: 20px;
    }
}
.containe{
	max-width: 100%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #362a1c;
    padding-top: 30px;
    height: auto;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer .copy{
    background: #291a04;
    position: relative;
    bottom: 0px;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    color: whitesmoke;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
